@model IEnumerable<Project>

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.ToArray().Length</h1>

<div class="container-grid">
    <h1 class="section-heading" id="section-title">Personal & Academic Projects</h1>
    <div class="container">
        <div class="projects-section section active">
            <div class="personal-projects"> 
                @{

                    int index = 0;

                    @foreach (var project in Model.ToArray())
                    {
                        <div class="padding-between-projects"></div>
                            if(index % 2 == 0)
                            {
                      
                                <div class="project">
                                    <div class="image-description-wrapper">
                                     
                                        <div class="image-and-links-wrapper">
                                            <div class="project-image">
                                             
                                                <img src="@project.ImageUrl" />
                                            </div>

                                            <div class="hover-items">
                                                <div class="source-icons">
                                                    
                                                </div>
                                            </div>
                                        </div>

                                      
                                        <div class="project-description-wrapper">
                                            <div class="project-description">
                                                <h4 class="section-heading">
                                                    @project.Title
                                                    <a href=@project.GitHubUrl>
                                                        <i class="fa-brands fa-github"></i>
                                                    </a>
                                                </h4>

                                                <p class="description">
                                                    @project.Description
                                                </p>
                                                <div class="technologies">
                                                    @{
                                                        foreach (var tech in @project.Technologies.Split(','))
                                                        {
                                                            
                                                            <div class="tech">@tech</div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            else
                            {
                             
                            <div class="project">
                                <div class="image-description-wrapper">
                                    <div class="project-description-wrapper">

                                        <div class="project-description">
                                            <h4 class="section-heading">
                                                @project.Title
                                                <a href="https://github.com/ajserrano9310/FigureDrawingApp"
                                           class="source-icon"
                                           target="_blank">
                                                    <i class="fa-brands fa-github"></i>
                                                </a>
                                            </h4>
                                            <p class="description">
                                                @project.Description
                                            </p>
                                         
                                            <div class="technologies">
                                                  @{
                                                        foreach (var tech in @project.Technologies.Split(','))
                                                        {
                                                            
                                                            <div class="tech">@tech</div>
                                                        }
                                                    }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="image-and-links-wrapper">
                                          <div class="project-image">
                                            <img src="@project.ImageUrl" />
                                          </div>

                                          <div class="hover-items">
                                            <div class="source-icons">
                                              
                                            </div>
                                          </div>
                                    </div>
                                
                                </div>
                            </div>
                            }
                        index++;
                        
                    }
                }
            </div>
        </div>
    </div>
</div>

