@model IEnumerable<Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-grid">
    <div class="container">
        <div class="projects-section section active">
            <div class="personal-projects"> 
                @for (int i = 0; i < 4; i ++)
                {
                    <div class="project">
                        <div class="image-description-wrapper"> 
                            <div class="image-and-links-wrapper">
                                <div class="project-image">
                                    <img src="~/images/tiny-weather-app.jpg" />
                                </div>

                                <div class="hover-items">
                                    <div class="source-icons">
                                      <a
                                        href="https://github.com/ajserrano9310/Weather-App"
                                        class="source-icon"
                                        target="_blank"
                                      >
                                        <i class="fa-brands fa-github"></i>
                                      </a>
                                    </div>
                                 </div>
                             </div>


                            <div class="project-description-wrapper">
                                <div class="project-description"> 
                                    <h4>
                                      Tiny Weather app
                                      <i class="fa-solid fa-code"></i>
                                    </h4>

                                    <p class="description">
                                        A small weather application that uses Open Weather API to
                                        fetch weather from different cities. The most interesting
                                        aspect of the application was making use of JavaScript to
                                        fetch information from the Open Weather API, and learning
                                        about JavaScript promises.
                                    </p>
                                    <div class="technologies">
                                        <div class="tech">JavaScript</div>
                                        <div class="tech">HTML</div>
                                        <div class="tech">CSS</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technologies)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
