@model IEnumerable<Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-grid">
    <div class="container">
        <div class="projects-section section active">
            <div class="personal-projects"> 
                @{

                    int index = 0;

                    @foreach (var project in Model.ToArray())
                    {
                            if(index % 2 == 0)
                            {
                                <h1>It's even</h1>
                            }
                            else
                            {
                                <h1> It's odd</h1>
                            }

                        index++; 
                        <div class="project">
                        <div class="image-description-wrapper"> 
                            <div class="image-and-links-wrapper">
                                <div class="project-image">
                                    <script>
                                        
                                    </script>
                                    <img src="@project.ImageUrl"/>
                                    
                                </div>

                                <div class="hover-items">
                                    <div class="source-icons">
                                      <a
                                        href= @project.GitHubUrl
                                        class="source-icon"
                                        target="_blank"
                                      >
                                        <i class="fa-brands fa-github"></i>
                                      </a>
                                    </div>
                                 </div>
                             </div>


                            <div class="project-description-wrapper">
                                <div class="project-description"> 
                                    <h4>
                                      @project.Title
                                      <i class="fa-solid fa-code"></i>
                                    </h4>

                                    <p class="description">
                                        @project.Description
                                    </p>
                                    <div class="technologies">
                                        @{
                                            var technologies = @project.Technologies.Split(',');
                                            foreach(var tech in technologies)
                                            {
                                                <div class="tech">@tech</div>
                                            }
                                        }
                                        
                                      
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                        <div class="padding-between-projects"></div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technologies)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
